<h1>Tara-Task</h1>
<h2>Selected Category</h2>

<p>
    <strong>Name: </strong><br><%= @category.name %>
</p><br>

<p>
    <strong>Description: </strong><br><%= @category.description %>
</p><br>

<p class='click_links'>
    <%= link_to 'Back to Categories', categories_path %>
</p>